<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.fileupload.dao.FileInfoDao">

    <insert id="addFileInfo" parameterType="com.test.fileupload.model.FileInfo">
        INSERT INTO file_info (filename, identifier, location, total_size, type)
        values (
            #{filename}, #{identifier}, #{location}, #{totalSize}, #{type}
        )
    </insert>

</mapper>
